#main-div {
    padding: 15px;
}

.book, .seller {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 15pt;
    display: block;
}

.book p {
    display: inline-block;
    margin: 0px;
    padding: 5px;
}

#book-info {
    height: 290px;
}

#book-image {
    float: left;
    width: 250px;
    height: 250px;
    padding: 20px;
    overflow: hidden;
}

#book-text {
    text-align: left;
    margin-left: 320px;
    padding-top: 20px;
}

#left-col {
    float: left;
    width: 50%;
}

#right-col {
    float: right;
    width: 50%;
    text-align: left;
}

#bottom {
    clear: both;
}