/*this is for the logins page*/

html {
	height: 100%;
}

body {
	min-height: 100%;
	background-image: url("../images/bookshelves.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

h1 {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 45pt;
}

h3 {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 20pt;
}

input {
	margin-top: 10px;
	margin-bottom: 10px;
}

button {
	text-align: center;
	margin: auto;
}

#main-div {
	margin-top: 23%;
	text-align: center;
	/*margin: auto;*/
}